body {
	background-color: lightblue;
	background-image: linear-gradient(-45deg,turquoise,lightblue,lightblue,lightblue, white);
}

h1 {
	font-family: verdana;
	color: #bfffff;
	text-align: center;
}

p {
	color: #5f6f82;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}
div {
	background-color: white;
	width: 1024px;
	padding: 25px;
	box-sizing: border-box;
	margin: auto;
	margin-top: 20px;
	box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.15);
}
h2.inverted {
	font-family: verdana;
	color: #3f4f62;;
	text-align: center;
}
a {
	color: #dd4a4a;
	text-decoration: none;
}
a:hover, a:active {
	color: #dd4a4a;
	text-shadow: 2px 2px 5px #dd4a4a;
}

.imgborder {
	border: 4px solid lightblue;
	border-radius: 10px;
	padding: 0;
	width: 40%;
	display: block;
	transition: box-shadow 2s ease-out;
}
img {
	display: block;
	width: 100%;
	margin: 0;
	border-radius: 5px;
	transition: filter 1s ease-out;
	filter: blur(4px);
}
img:hover {
	
	filter: blur(0px)
}
.imgborder:hover {
	box-shadow: 0px 0px 8px 4px rgba(221, 74, 74, 0.5);
}

.imgborder .tooltiptext {
	
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 4px;
	left: 50%;
	margin-left: -60px;
	margin-top: 10px;
	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 1s;
	font-family: verdana;
	text-shadow: 2px 2px 5px white;
	
	
}

.imgborder:hover .tooltiptext {
	opacity: 1;
	
}
